.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
tmp/
*.tfvars.local
scripts/talos/
secrets.yaml
talosconfig
controlplane.yaml
worker.yaml
talos/scripts/talos/setup.sh
k8/infisical/secrets/